@import "fonts.css"
negro = #000000
blanco = #ffffff
gris_suave = #F3F3F3

body 
	color blanco
	font-size 100%
	text-align center
	font-family Arial, Helvetica
	margin 0
	padding 0

.contenedor
	max-width 1400px

header
	background url(../img/men-computer.jpg)
	background-size 100% 150%
	background-repeat no-repeat
	height 400px
	position relative
	width 100%
	
	nav
		height 60px
		margin 0  auto
		padding-top 30px
		position relative
		width 80%
		
		.logo
			width 200px
			float left
			
			img
				width 200px
		
		ul 
			list-style none
			float right
			margin 5px 0
			padding 0
			
			li
				float left
				padding 0
				margin 0
		
				a 
					color blanco
					display block
					font-family din
					font-size 1.3em
					font-weight 400
					padding 10px
					text-decoration none
	
	h2
		background rgba(0.0.0.0.7)
		font-family din
		font-size 4.9em
		margin-left 10%
		margin-top 12%
		padding 5px
		text-decoration underline
		width 15%

.frm
	color negro
		