@import "fonts.css"
negro = #000000
blanco = #ffffff
gris_suave = #F3F3F3

body 
	background url(../img/bg/lightstripe-bg.jpg)
	color blanco
	font-family Arial, Helvetica
	font-size 100%
	margin 0
	padding 0
	text-align center

.contenedor
	max-width 1400px

header
	background url(../img/men-computer.jpg)
	background-size 100% 150%
	background-repeat no-repeat
	height 400px
	position relative
	width 100%
	
	nav
		height 60px
		margin 0  auto
		padding-top 30px
		position relative
		width 80%
		
		.logo
			width 200px
			float left
			
			img
				width 200px
		
		ul 
			list-style none
			float right
			margin 5px 0
			padding 0
			
			li
				float left
				padding 0
				margin 0
		
				a 
					color blanco
					display block
					font-family din
					font-size 1.3em
					font-weight 400
					padding 10px
					text-decoration none
	
	h2
		background rgba(0.0.0.0.7)
		font-family din
		font-size 4.9em
		margin-left 10%
		margin-top 12%
		padding 5px
		text-decoration underline
		width 15%

.frm
	color negro
	margin 0 auto
	overflow hidden
	padding-bottom 26px
	text-align left
	width 73%
	
	h2
		background url(../img/bg/darkstripe-bg.jpg)
		color blanco
		padding 10px
	
	p 
		font-family Arial
		font-size 1.2em
		font-weight 300
		margin-bottom 3px
	
	input
		font-size 20px
		height 35px
		padding 0px 3px
		width 70%
		
	.personal_date
		display inline-block
		vertical-align top
		width 49%
	
	.personal_contact
		display inline-block
		vertical-align top
		width 49%
		
		select
			background #f9f9f9
			border 1px #ccc solid
			border-radius 3px
			font-family sans-serif
			font-weight 600
			height 35px
			width 70%
					
		.btn
			background #FF4545
			border none
			border-radius 3px
			color blanco
			font-family sans-serif
			font-size 20px
			font-weight 100
			width 30%