@import fonts
a
	text-decoration none
	color #ffffff

body
	background #ffffff
	color #ffffff
	font-family Arial, sans-serif
	font-size 16px
	.contenedor
		width 100%
		max-width 1400px

		header
			width 100%
			// position fixed

			nav
				background #303841
				height auto
				width 100%
				padding 20px 0
			
				h1
					display inline-block
					margin 0px 0px 0px 30px
					font-family capsula
					text-align center
					width 200px
				ul
					float right
					margin 0px 40px 0px 0px
					padding 0

					li
						float left
						list-style: none
						line-height: 30px;
						height auto
					
						a 
							display block 
							padding 5px 10px
							font-family capsula
							font-size 1.2em
							&:hover
								background #ffffff
								color black
								border-radius 3px

		.promo 
			width 100%
			height 700px
			background url(../img/bg.jpg)
			background-size 100% 100%

			.circulo
				color #000
				font-size 1.4em
				width 150px
				height 150px
				border-radius 50%
				float right
				border 4px solid #ffffff
				clear both
				background red
				// vertical-align bottom

				p 
					vertical-align bottom

