@import "fonts.css"

blanco = #ffffff
gris_suave = #F3F3F3
negro = #000000

body 
	color blanco
	font-size 100%
	text-align center
	font-family Arial, Helvetica
	margin 0
	padding 0

.contenedor
	background url(../img/bg/bg.jpg)
	background-position 0px -300px
	background-repeat no-repeat
	background-size 100% 39%
	max-width 1400px

header
	background rgba(0, 0, 0, 0.4)
	height 550px
	position relative
	width 100%
	
	nav
		height 60px
		margin 0  auto
		padding-top 30px
		position relative
		width 80%
		
		.logo
			width 200px
			float left
			
			img
				width 200px
		
		ul 
			list-style none
			float right
			margin 5px 0
			padding 0
			
			li
				float left
				padding 0
				margin 0
		
				a 
					color blanco
					display block
					font-family din
					font-size 1.3em
					font-weight 400
					padding 10px
					text-decoration none
	
	.titulo
		width 90%
		margin 0 auto
		
		h1
			font-family din
			font-size 7.5em
			font-weight 100
			margin 80px 0px 0px 0px
		
		h2
			color #ff4545
			font-family din
			font-size 2.6em
			font-weight 100
			letter-spacing 2px
			margin-top 0px
		
		.boton
			border 3px solid #FF4545
			border-radius 3px
			width 170px
			margin 0 auto
			&hover
				border 3px solid green
			a
				background #FF4545
				color blanco
				display block
				font-family din
				font-size 1.7em
				font-weight 100
				margin 0 auto
				padding 10px 25px
				text-decoration none
				&:hover
					background rgba(0, 0, 0, .3)
					color blanco
.bienvenidos
	color #000000
	background blanco
	position relative
	height 250px
	padding-top 60px
	overflow hidden
	
	h2
		margin 0
		font-family din
		font-weight 400
		font-size 3em
	
	p 
		color #666666
		line-height 1.9
		margin 16px auto
		width 80%

.icon_descripcion
	background url('../img/banner-bg.jpg')
	background-position 0px -100px
	background-repeat no-repeat
	background-size cover
	height 310px
	overflow hidden
	
	h2
		font-family din
		font-size 2.6em
		margin 10px 0px 0px 0px
	
	.icon_resena
		display inline-block
		margin 40px 15px
		text-align center
		width 180px
		
		h2
			font-size 2em
		
		img
			width 60%

.auspiciadores
	background blanco
	color negro
	height 400px
	overflow hidden
	
	h2
		font-family din
		font-size 3em
		font-weight 100
		text-transform capitalize
	
	.logo_cca
		display inline-block
		width 300px
		
		img
			width 100%
	
	.descripcion_cca
		display inline-block
		width 500px
		vertical-align top
		p 
			color negro

.des_promo
	background #F3F3F3
	color #333333
	padding 40px 0px 60px 0px

	.logo_promo
		display inline-block
		width 330px
		
		img
			width 100%
			margin-top 16px
	
	.p_promo
		display inline-block
		margin-right 16px
		text-align left
		vertical-align top
		width 500px
		
		h2
			font-family din
			font-size 2.3em
		
		p 
			font-family ubu
			font-size 1.3em
			font-weight 100
			
		ul 
			list-style-image url(../img/icon/list/tick2.png)
			line-height 16px
			
			li
				font-family ubu
				font-size 1.3em
				list-style-position inside
				padding 5px 0px
				vertical-align top

.inicia
	background #1D1D21
	height 180px
	overflow hidden
	&:hover
		background #FF4545
		transition 1.3s
	
	h2
		font-size 4.2em
		font-family din
		// vertical-align top
		a 
			color #ffffff
			text-decoration none
		img
			bottom 0
			vertical-align top
			width 70px
.pie
	height 300px
	background #232228
	overflow hidden
	font-family din
	font-weight 100
	font-size 1.6em