.cuerpo
	background #333
	top 0
	width 100%
	position relative
	overflow hidden
	
.formulario
	background url(../img/child_brain.jpg)
	border-radius 10px
	background-size 100% 100%
	height 480px
	margin 16px auto
	position relative
	width 450px
	
	.capa
		background rgba(255, 255, 255, .8)
		height 460px
		border-radius 10px
		padding 10px
		overflow hidden
		
		// span
		// 	color negro
		// 	float right
			
		// h2
		// 	color negro
		// 	font-size 1.6em
		// 	padding 2em
			
		h3
			color #333
			font-size 2em
			margin-top 16px
			font-weight 100
			text-align left
			margin-left 25px
			margin-bottom 16px
		
		.etiquetas
			padding 5px
			width 90%
			margin 0 auto
			text-align left
			height auto
			
			span
				background #3498DB
				font-size 20px
				vertical-align middle
				padding 5px
				display inline-block
				margin-right 3px
				width 81px
			
			input
				border solid 1px #3498DB
				background white !important
				color negro
				display inline-block
				float right
				font-size 21px
				padding 3px
				top 0
				vertical-align top
				width 73%
				
			select 
				width 75%
				font-size 24px
				color negro
				float right
				border solid 1px  #3498DB
		
		.submit
			background #3498DB
			border solid
			border-radius 5px
			color #ffffff
			cursor pointer
			font-size 1.6em
			margin 5px auto
			padding 5px 16px

.login
	width 500px
	margin 16px auto
	height 300px
	background blanco
	border-radius 5px
	overflow hidden
	
	h4
		color negro
		margin 10px 0px 10px 0px
		font-size 1.6em
	
	.vin
		padding 5px
		width 90%
		margin 0 auto
		text-align left
		height auto
			
		span
			background #3498DB
			font-size 20px
			vertical-align middle
			padding 5px
			display inline-block
			margin-right 3px
			width 100px
			
		input
			border solid 1px #3498DB
			background white !important
			color negro
			display inline-block
			float right
			font-size 21px
			padding 3px
			top 0
			vertical-align top
			width 73%
		
		textarea
			border solid 1px #3498DB
			background white !important
			color negro
			display inline-block
			float right
			font-size 21px
			padding 3px
			top 0
			vertical-align top
			width 73%
			
	.boton
		background #3498DB
		border solid 1px #3498DB
		margin-top 10px
		font-size 21px
		padding 3px
		vertical-align top
		width 30%

.tabla
	margin 0 auto
	width 70%
	padding 10px
	background white
	
	table
		border solid 1px negro
		margin 16px auto
		text-align center
		font-size 1.2em
		color negro
		width 70%
		
		td
			border 1px solid negro