@import "fonts.css"
negro = #000000

body 
	color blanco
	font-size 100%
	text-align center
	font-family Arial, Helvetica
	margin 0
	padding 0

.contenedor
	max-width 1400px

header
	background url(../img/men-computer.jpg)
	background-size 100% 150%
	background-repeat no-repeat
	height 400px
	position relative
	width 100%
	
	nav
		height 60px
		margin 0  auto
		padding-top 30px
		position relative
		width 80%
		
		.logo
			width 200px
			float left
			
			img
				width 200px
		
		ul 
			list-style none
			float right
			margin 5px 0
			padding 0
			
			li
				float left
				padding 0
				margin 0
		
				a 
					color blanco
					display block
					font-family din
					font-size 1.3em
					font-weight 400
					padding 10px
					text-decoration none
	
	h2
		background rgba(0.0.0.0.7)
		font-family din
		font-size 4.9em
		margin-left 10%
		margin-top 12%
		padding 5px
		// text-align left
		text-decoration underline
		width 15%		
		
.cont_planes
	width 60%
	margin 0 auto
		
	.item
		background #636363
		display inline-block
		margin 0px 5px
		line-height 30px
		padding 0
		height 400px
		list-style none
		width 30%
		margin 0px
		
		.title_plan
			color #ffffff

			span
				border-radius 100%
				margin 10px auto
				border 3px solid #ffffff
				font-size 2em
				height 90px
				padding 50px 20px 10px 20px
				display block
				width 50%
		.link
			background #333333
			margin-top 30px
			padding 1px 0px
			
			a
				background #515151
				border-radius 15px
				color #ffffff
				display block
				font-size 16px
				margin 10px auto
				padding 0px 20px
				width 100px
		
	.item:nth-child(2)
			background: linear-gradient(#F9B84A, #DB7224);
			transform: scale(1.03);
			box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);